shamefully-hoist=true
auto-install-peers=true
ignore-workspace-root-check=true

# Publishing configuration
# The NPM_TOKEN environment variable is set in GitHub Actions
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
