:root {
  --pohon-header-height: calc(var(--spacing) * 16);
  --default-mono-font-family: var(--font-mono);
  --pohon-card: 24 9.8% 10%;
}

body {
  @apply antialiased bg-background color-text scheme-light dark:scheme-dark font-sans;
}

html[data-framework='nuxt'] .vue-only,
html[data-framework='vue'] .nuxt-only {
  display: none;
}
