:root {
  --font-size-base: 16px;
  --menu-font-size: calc(var(--font-size-base) * 0.875);
}

.is-menu-align {
  justify-content: var(--menu-align, start);
}

.pohon-menu__popup-container,
.pohon-menu {
  --menu-item-icon-size: var(--font-size-base, 16px);
  --menu-item-height: 38px;
  --menu-item-padding-y: 21px;
  --menu-item-padding-x: 12px;
  --menu-item-popup-padding-y: 20px;
  --menu-item-popup-padding-x: 12px;
  --menu-item-margin-y: 2px;
  --menu-item-margin-x: 0px;
  --menu-item-collapse-padding-y: 23.5px;
  --menu-item-collapse-padding-x: 0px;
  --menu-item-collapse-margin-y: 4px;
  --menu-item-collapse-margin-x: 0px;
  --menu-item-radius: 0px;
  --menu-item-indent: 16px;

  &.is-light {
    @apply [--menu-background-color:theme(colors.background)] [--menu-item-color:theme(colors.text)];

    --menu-item-background-color: var(--menu-background-color);
    --menu-item-active-background-color: color-mix(
      in oklch,
      var(--akar-primary) 15%,
      transparent
    );
    --menu-item-hover-color: var(--menu-item-color);
    --menu-item-active-color: var(--akar-primary);
    --menu-submenu-hover-color: var(--akar-primary);
    --menu-submenu-active-color: var(--akar-primary);
    --menu-submenu-active-background-color: transparent;
    --menu-submenu-background-color: var(--menu-background-color);
  }

  &.is-dark {
    --menu-background-color: hsl(var(--menu));
    --menu-item-background-color: var(--menu-background-color);
    --menu-item-color: hsl(var(--foreground) / 80%);
    --menu-item-hover-color: hsl(var(--accent-foreground));
    --menu-item-active-color: hsl(var(--accent-foreground));
    --menu-item-active-background-color: hsl(var(--accent));
    --menu-submenu-hover-color: hsl(var(--foreground));
    --menu-submenu-active-color: hsl(var(--foreground));
    --menu-submenu-active-background-color: transparent;
    --menu-submenu-background-color: var(--menu-background-color);
  }

  &.is-rounded {
    --menu-item-margin-x: 8px;
    --menu-item-collapse-margin-x: 6px;
    --menu-item-radius: 8px;
  }

  &.is-horizontal:not(.is-rounded) {
    --menu-item-height: 40px;
    --menu-item-radius: 6px;
  }

  &.is-horizontal.is-rounded {
    --menu-item-height: 40px;
    --menu-item-radius: 6px;
    --menu-item-padding-x: 12px;
  }

  &.is-horizontal {
    --menu-item-padding-y: 0px;
    --menu-item-padding-x: 10px;
    --menu-item-margin-y: 0px;
    --menu-item-margin-x: 1px;
    --menu-background-color: transparent;

    &.is-dark {
      --menu-item-hover-color: hsl(var(--accent-foreground));
      --menu-item-active-color: hsl(var(--accent-foreground));
      --menu-item-active-background-color: hsl(var(--accent));
      --menu-submenu-active-color: hsl(var(--foreground));
      --menu-submenu-active-background-color: hsl(var(--accent));
      --menu-submenu-hover-color: hsl(var(--accent-foreground));
    }

    &.is-light {
      --menu-item-active-color: var(--akar-primary);
      --menu-item-active-background-color: hsl(var(--primary) / 15%);
      --menu-item-hover-color: var(--akar-primary);
      --menu-submenu-active-color: var(--akar-primary);
      --menu-submenu-active-background-color: hsl(var(--primary) / 15%);
      --menu-submenu-hover-color: var(--akar-primary);
    }
  }
}

.pohon-menu {
  @apply relative box-border p-0 m-0 list-none bg-$menu-background-color font-500;

  &.is-vertical {
    &:not(.pohon-menu.is-collapse) {
      & .pohon-menu-item,
      & .pohon-sub-menu-content,
      & .pohon-menu-item-group__title {
        padding-left: calc(
          var(--menu-item-indent) + var(--menu-level) * var(--menu-item-indent)
        );
        white-space: nowrap;
      }

      & > .pohon-sub-menu {
        & > .pohon-menu {
          & > .pohon-menu-item {
            padding-left: calc(
              0px + var(--menu-item-indent) + var(--menu-level) *
                var(--menu-item-indent)
            );
          }
        }

        & > .pohon-sub-menu-content {
          padding-left: calc(var(--menu-item-indent) - 8px);
        }
      }
      & > .pohon-menu-item {
        padding-left: calc(var(--menu-item-indent) - 8px);
      }
    }
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    height: var(--height-horizontal-height);
    border-right: none;

    .pohon-menu-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: var(--menu-item-height);
      padding-right: calc(var(--menu-item-padding-x) + 6px);
      margin: 0;
      margin-right: 2px;
      border-radius: var(--menu-item-radius);
    }

    & > .pohon-sub-menu {
      height: var(--menu-item-height);
      margin-right: 2px;

      &:focus,
      &:hover {
        outline: none;
      }

      & .pohon-sub-menu-content {
        height: 100%;
        padding-right: 40px;
        /* border-bottom: 2px solid transparent; */
        border-radius: var(--menu-item-radius);
      }
    }

    & .pohon-menu-item:not(.is-disabled):hover,
    & .pohon-menu-item:not(.is-disabled):focus {
      outline: none;
    }

    & > .pohon-menu-item.is-active {
      color: var(--menu-item-active-color);
    }
  }

  &.is-collapse {
    .pohon-menu__icon {
      margin-right: 0;
    }
    .pohon-sub-menu__icon-arrow {
      display: none;
    }

    .pohon-sub-menu-content,
    .pohon-menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--menu-item-collapse-padding-y)
        var(--menu-item-collapse-padding-x);
      margin: var(--menu-item-collapse-margin-y)
        var(--menu-item-collapse-margin-x);
      transition: all 0.3s;

      &.is-active {
        background: var(--menu-item-active-background-color) !important;
        border-radius: var(--menu-item-radius);
      }
    }

    &.is-light {
      .pohon-sub-menu-content,
      .pohon-menu-item {
        &.is-active {
          background: var(--menu-item-active-background-color) !important;
        }
      }
    }

    &.is-rounded {
      .pohon-sub-menu-content,
      .pohon-menu-item {
        &.is-collapse-show-title {
          margin: 4px 8px !important;
        }
      }
    }
  }
}

.pohon-menu__popup-container {
  max-width: 240px;
  height: unset;
  padding: 0;
  background: var(--menu-background-color);
}

.pohon-menu__popup {
  padding: 10px 0;
  border-radius: var(--menu-item-radius);

  .pohon-sub-menu-content,
  .pohon-menu-item {
    padding: var(--menu-item-popup-padding-y) var(--menu-item-popup-padding-x);
  }
}

.pohon-menu__icon {
  flex-shrink: 0;
  width: var(--menu-item-icon-size);
  height: var(--menu-item-icon-size);
  margin-right: 8px;
  vertical-align: middle;
  text-align: center;
}

.pohon-menu-item {
  fill: var(--menu-item-color);

  position: relative;
  display: flex;
  align-items: center;
  height: var(--menu-item-height);
  padding: var(--menu-item-padding-y) var(--menu-item-padding-x);
  margin: 0 var(--menu-item-margin-x) var(--menu-item-margin-y)
    var(--menu-item-margin-x);
  font-size: var(--menu-font-size) !important;
  color: var(--menu-item-color);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  background: var(--menu-item-background-color);
  border: none;
  border-radius: var(--menu-item-radius);
  transition:
    background 0.15s ease,
    color 0.15s ease,
    padding 0.15s ease,
    border-color 0.15s ease;

  &.is-disabled {
    cursor: not-allowed;
    background: none !important;
    opacity: 0.25;
  }

  .pohon-menu__icon {
    transition: transform 0.25s;
  }

  &:hover {
    .pohon-menu__icon {
      transform: scale(1.2);
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  * {
    vertical-align: bottom;
  }

  &.is-active {
    fill: var(--menu-item-active-color);

    color: var(--menu-item-active-color);
    text-decoration: none;
    cursor: pointer;
    background: var(--menu-item-active-background-color);
  }

  &.is-collapse-show-title {
    padding: 32px 0 !important;
    .pohon-menu-tooltip__trigger {
      flex-direction: column;
    }
    .pohon-menu__icon {
      display: block;
      font-size: calc(var(--font-size-base, 16px) * 1.25) !important;
      transition: all 0.25s ease;
    }

    .pohon-menu__name {
      display: inline-flex;
      margin-top: 8px;
      margin-bottom: 0;
      font-size: calc(var(--font-size-base, 16px) * 0.75);
      line-height: normal;
      transition: all 0.25s ease;
    }
  }

  &:not(.is-active):hover {
    color: var(--menu-item-hover-color);

    @apply bg-background-accented;
  }

  .pohon-menu-tooltip__trigger {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 var(--menu-item-padding-x);
    font-size: var(--menu-font-size) !important;
    line-height: var(--menu-item-height);
  }
}

.pohon-menu-item__content {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--menu-item-height);

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--menu-font-size) !important;
    white-space: nowrap;
    opacity: 1;
  }
}

.pohon-sub-menu {
  @apply p-0 m-0 list-none bg-$menu-background-color fill-$menu-item-color;

  &.is-active {
    div[data-state='open'] > .pohon-sub-menu-content,
    > .pohon-sub-menu-content {
      color: var(--menu-submenu-active-color);
      text-decoration: none;
      cursor: pointer;
      background: var(--menu-submenu-active-background-color);
      fill: var(--menu-submenu-active-color);
    }
  }
}

.pohon-sub-menu-content {
  @apply h-$menu-item-height text-size-$menu-font-size;

  position: relative;
  display: flex;
  align-items: center;
  padding: var(--menu-item-padding-y) var(--menu-item-padding-x);
  margin: 0 var(--menu-item-margin-x) var(--menu-item-margin-y)
    var(--menu-item-margin-x);
  color: var(--menu-item-color);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  background: var(--menu-item-background-color);
  border: none;
  border-radius: var(--menu-item-radius);
  transition:
    background 0.15s ease,
    color 0.15s ease,
    padding 0.15s ease,
    border-color 0.15s ease;

  &.is-disabled {
    cursor: not-allowed;
    background: none !important;
    opacity: 0.25;
  }

  .pohon-menu__icon {
    transition: transform 0.25s;
  }

  &:hover {
    .pohon-menu__icon {
      transform: scale(1.2);
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  * {
    vertical-align: bottom;
  }

  * {
    font-size: inherit !important;
  }

  &.is-collapse-show-title {
    flex-direction: column;
    padding: 32px 0 !important;
    .pohon-menu__icon {
      display: block;
      font-size: 20px !important;
      transition: all 0.25s ease;
    }
    .pohon-sub-menu-content__title {
      display: inline-flex;
      flex-shrink: 0;
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 12px;
      line-height: normal;
      transition: all 0.25s ease;
    }
  }

  &.is-more {
    padding-right: 12px !important;
  }

  &:hover {
    color: var(--menu-submenu-hover-color);

    /* FIXME: We need the !important since this has a lower specificity than > .pohon-sub-menu-content */
    @apply bg-background-accented!;
  }
}

.pohon-sub-menu-content__icon-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  margin-right: 0;
  opacity: 1;
  transition: transform 0.25s ease;
}

.pohon-sub-menu-content__title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--menu-font-size) !important;
  white-space: nowrap;
  opacity: 1;
}
