.dashboard-menu-popup-container,
.dashboard-menu {
  --menu-item-height: 38px;
  --menu-item-padding-y: 21px;
  --menu-item-padding-x: 12px;
  --menu-item-margin-y: 2px;
  --menu-item-margin-x: 0px;
  --menu-item-radius: 0px;
  --menu-item-indent: 16px;

  &[data-theme='light'] {
    @apply [--menu-item-color:theme(colors.text)] [--menu-submenu-active-color:theme(colors.primary)] [--menu-submenu-active-bg-color:transparent];
  }
}

.dashboard-menu {
  @apply relative pl-0 m-0 list-none bg-background box-border;

  &[data-mode='vertical'] {
    &:not([data-is-collapsed='true']) {
      .dashboard-menu-item,
      .dashboard-menu-sub-menu-content {
        padding-left: calc(
          var(--menu-item-indent) + var(--menu-level) * var(--menu-item-indent)
        );
        white-space: nowrap;
      }

      > .dashboard-menu-sub-menu {
        > .dashboard-menu {
          > .dashboard-menu-item {
            padding-left: calc(
              0px + var(--menu-item-indent) + var(--menu-level) *
                var(--menu-item-indent)
            );
          }
        }

        > .dashboard-menu-sub-menu-content {
          padding-left: calc(var(--menu-item-indent) - 8px);
        }
      }

      > .dashboard-menu-item {
        padding-left: calc(var(--menu-item-indent) - 8px);
      }
    }
  }
}

.dashboard-menu-sub-menu-item {
  @apply pl-0 m-0 list-none fill-text bg-background;

  &[data-is-active='true'] {
    div[data-state='open'] > .dashboard-menu-sub-menu-content,
    > .dashboard-menu-sub-menu-content {
      @apply color-$menu-submenu-active-color decoration-none cursor-pointer bg-$menu-submenu-active-bg-color fill-$menu-submenu-active-color;
    }
  }
}

.dashboard-menu-sub-menu-content {
  @apply text-sm;

  @apply relative flex items-center h-$menu-item-height py-$menu-item-padding-y px-$menu-item-padding-x mt-0 mx-$menu-item-margin-x mb-$menu-item-margin-y color-$menu-item-color whitespace-nowrap decoration-none cursor-pointer list-none bg-background border-none rounded-$menu-item-radius;

  transition:
    background 0.15s ease,
    color 0.15s ease,
    padding 0.15s ease,
    border-color 0.15s ease;
}
