:root {
  --pohon-header-height: calc(var(--spacing) * 16);
  --pohon-container: var(--container-8xl);
}

body {
  @apply antialiased bg-background color-text scheme-light dark:scheme-dark font-sans;
}

html,
body,
#__nuxt {
  @apply size-full;
}

.outline-box {
  @apply outline-border relative rounded-md p-1 outline outline-1;
}

.outline-box::after {
  @apply absolute left-1/2 top-1/2 z-20 h-0 w-[1px] rounded-sm opacity-0 outline outline-2 outline-transparent transition-all duration-300 content-[""];
}

.outline-box.outline-box-active {
  @apply outline-primary outline outline-2;
}

.outline-box.outline-box-active::after {
  display: none;
}

.outline-box:not(.outline-box-active):hover::after {
  @apply outline-primary left-0 top-0 h-full w-full p-1 opacity-100;
}

/* FIXME: Try to use collapse-transition from akar */
.collapse-transition {
  transition:
    0.2s height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s padding-bottom ease-in-out;
}

.collapse-transition-leave-active,
.collapse-transition-enter-active {
  transition:
    0.2s max-height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s margin-top ease-in-out;
}
