:root {
  --pohon-header-height: calc(var(--spacing) * 16);
  --pohon-container: var(--container-8xl);
}

body {
  @apply antialiased bg-background color-text scheme-light dark:scheme-dark font-sans;
}

html,
body,
#__nuxt {
  @apply size-full;
}

/* FIXME: Try to use collapse-transition from akar */
.collapse-transition {
  transition:
    0.2s height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s padding-bottom ease-in-out;
}

.collapse-transition-leave-active,
.collapse-transition-enter-active {
  transition:
    0.2s max-height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s margin-top ease-in-out;
}
