@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist[wght].ttf');
}
@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono[wght].ttf');
}

@layer default {
  :root {
    --font-geist-sans: 'Geist';
    --font-geist-mono: 'GeistMono';

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 60 8% 97%;
    --card-foreground: 240 10% 3.9%;

    --muted: 40 6% 91%;
    --muted-foreground: 240 3.8% 46.1%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --code: 24 9.8% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 141 17% 5%;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --muted: 0 0% 15%;
    --muted-foreground: 168 2.6% 62.9%;

    --primary: 151 62% 59%;
    --primary-foreground: 144.9 80.4% 10%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }

  html {
    -webkit-text-size-adjust: 100%;
    font-variation-settings: normal;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply bg-background color-foreground min-h-screen antialiased font-sans;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* Mobile tap highlight */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
  }

  *:focus-visible {
    @apply outline-primary;
  }

  ::selection {
    background: hsl(var(--colors-primary) / 0.3);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
