# .github/workflows/release.yml

name: Release

on:
  push:
    branches:
      - main

env:
  CI: true
  SKIP_INSTALL_SIMPLE_GIT_HOOKS: 1

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write # to create release (changesets/action)
  issues: write # to post issue comments (changesets/action)
  pull-requests: write # to create pull request (changesets/action)
  id-token: write # to use OpenID Connect token for provenance (changesets/action)

jobs:
  publish:
    name: Create Release PR or Publish to npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup (Install node & pnpm)
        uses: ./.github/actions/setup

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm ci:publish
          version: pnpm ci:version
          title: 'chore: version packages'
          commit: 'chore: version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.VINICUNCA_NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.VINICUNCA_NPM_TOKEN }}
